body {
    margin: 0;
}
.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
   
}
.nav-medium {
 display: none;  
}
.nav-text {
    font-size: 12px;
    text-align: center;
    font-family: Inter;
    margin-right: 12px;
}
.logo3 {
    display: none;
}
.nav-header {
    font-family: Inter;
    font-size: 14px;
    text-align: center;
    align-items: center;
    font-weight: 400;
}
.ip16pro {
    background-image: url(Background.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 692px;
}
.ip16pro-header {
    font-size: 52px;
    font-family: Inter;
    font-weight: 600;
    color: rgba(245, 245, 247, 1);
    text-align: center;
    padding-top: 55px;
    margin: 0;

}
.ip16pro-text {
    font-size: 24px;
    font-family: Inter;
    font-weight: 400; 
    text-align: center;
    color: rgba(245, 245, 247, 1); 
    margin: 0;
}
.button {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.Learn-more {
    text-align: center;
    font-size: 16px;
    font-family: Inter;
    color: rgba(255, 255, 255, 1);
    width: 123px;
    height: 44px;
    border-radius: 22px;
    background-color: rgba(0, 113, 227, 1);
    border: 0;
}
.Buy-nobg {
    width: 68px;
    height: 44px;
    border-radius: 22px;
    border: 1px rgba(41, 151, 255, 1) solid;
    background-color: transparent;
    color: rgba(41, 151, 255, 1);
}

@media only screen and (max-width: 768px) {
    .nav-text {
        display: none;
}
    .nav {
        display: flex;
        justify-content: space-between;
        
    }
    .logo3 {
        display: block;
    }
    .nav-medium {
        display: block;
        display: flex;
        justify-content: space-between;
    }
    .medium-icon {
        display: flex;
        justify-content: flex-end;
        gap: 12px;
    }
}
