body {
    margin: 0;
    max-width: 1920px;
    
}
.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
   
}
.nav-medium {
 display: none;  
}
.nav-text {
    font-size: 12px;
    text-align: center;
    font-family: Inter;
    margin-right: 12px;
}
.logo3 {
    display: none;
}
.nav-header {
    font-family: Inter;
    font-size: 14px;
    text-align: center;
    align-items: center;
    font-weight: 400;
}

.Phone {
    background-image: url(pictures/Background/Background.png);
    height: 692px;
    background-size: cover;
    background-position: center;
    margin-top: 12px;   
}
.Phone-1 {
    background-image: url(pictures/Background/Background2.png);
}
.Phone-2 {
    background-image: url(pictures/Background/Background3.png);
}
.Heading {
    font-size: 52px;
    font-family: Inter;
    font-weight: 600;
    color: rgba(245, 245, 247, 1);
    text-align: center;
    padding-top: 55px;
    margin: 0;

}
.Heading-black {
    color: black;
    padding-top: 446px;
}
.Title {
    font-size: 24px;
    font-family: Inter;
    font-weight: 400; 
    text-align: center;
    color: rgba(245, 245, 247, 1); 
    margin: 0;
   
}
.Title-black{
    color: black;
}
.button {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.btn {
    line-height: 20px;
    font-weight: 400;
    text-align: center;
    font-size: 16px;
    font-family: Inter;
    color: rgba(255, 255, 255, 1);
    padding: 12px 20px;
    border-radius: 22px;
    background-color: rgba(0, 113, 227, 1);
    border: 0;
}
.btn--outlined {
    border: 1px rgba(41, 151, 255, 1) solid;
    background-color: transparent;
    color: rgba(41, 151, 255, 1);
}
.btn-white {
    background-color: white;
    color: black;
}
.btn--white-outlined {
    background-color: transparent;
    border: 1px white solid;
    color: white;
}


.product-container {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    margin: 12px 12px;
}
.products {
    box-sizing: border-box;
    height: 580px;
    background-image: url(pictures/Background/products/product1.png);
    width: calc(50% - 6px);
    background-size: cover;
    background-position: center; 
    text-align: center;
    justify-content: center; 
    padding-top: 58px;
}

.products:nth-child(2) {
    background-image: url(pictures/Background/products/product2.png);
    padding-top: 0px;
}
.products:nth-child(3) {
    background-image: url(pictures/Background/products/products7.png);
}
.products:nth-child(4) {
    background-image: url(pictures/Background/products/product4.png);
}
.products:nth-child(5) {
    background-image: url(pictures/Background/products/product5.png);
}
.products:nth-child(6) {
background-image: url(pictures/Background/products/product6.png);
display: none;
}
.products:nth-child(7) {
background-image: url(pictures/Background/products/product7.png);
display: none;
}
.products:nth-child(8) {
    background-image: url(pictures/Background/products/product8.png);
}
.products:nth-child(9){
    background-image: url(pictures/Background/products/product9.png);
}
.products:nth-child(3){
    background-image: url(pictures/Background/products/product3.png);
    display: none;
}

.product-header {
    font-family: Inter;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    
}
.product-header--white {
    color: white;
    padding-top: 401px;
}
.product-text {
    font-weight: 400;
    font-size: 18px;
    font-family: Inter;
    line-height: 25px;
    color: rgba(29, 29, 31, 1);
}
.product-text--white {
    color: white;
}
.product-text--color {
    padding-top: 324px;
}
    /* Title-n urd talin logog Before gd 8px gap awarai */
.product-title {
    font-size: 32px;
    font-family: Inter;
    font-weight: 700;
    color: black;
}
.product-minititle {
    font-family: Inter;
    font-size: 15px;
    color: black;
    font-weight: 700;
}


                    /* TABLET */

@media only screen and (max-width: 768px) {
    .nav-text {
        display: none;
    }
    .nav {
        display: flex;
        justify-content: space-between;
        
    }
    .logo3 {
        display: block;
    }
    .nav-medium {
        display: block;
        display: flex;
        justify-content: space-between;
    }
    .medium-icon {
        display: flex;
        justify-content: flex-end;
        gap: 12px;
    }
    .Heading {
    font-size: 42px;
    font-family: Inter;
    font-weight: 600;
    color: rgba(245, 245, 247, 1);
    text-align: center;
    padding-top: 58px;
    margin: 0;

    }
    .Title {
    font-size: 22px;
    font-family: Inter;
    font-weight: 400; 
    text-align: center;
    color: rgba(245, 245, 247, 1); 
    margin: 0;
}
.Phone {
    background-image: url(pictures/Background/BackgroundM.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 650px;  
    background-position: center;  
}
.Phone-1 {
    background-image: url(pictures/Background/Background2M.png);
}
.Phone-2 {
    display: none;
}
.nav-header {
    font-family: Inter;
    font-size: 14px;
    text-align: center;
    align-items: center;
    font-weight: 400;
    padding: 0px 152px;
}
.products:nth-child(4) {
    background-image: url(pictures/Background/products/product3M.png);
}
.products-item6 {
    display: none;
}
.products-item5 {
    background-image: url(pictures/Background/products/product5M.png);
}
.products:nth-child(1) {
    width: 100%;
}
.products:nth-child(2) {
    display: none;
}
.products:nth-child(3) {
    display: block;
   
}
.products:nth-child(6) {
    display: block;
   
}
.products:nth-child(7) {
    display: block;
   
}
.products:nth-child(9) {
    display: none;
}
.product-header {
    font-size: 30px;
    font-family: Inter;
    font-weight: 700;
    line-height: 36px;
}
.product-header--white {
    color: white;
    padding-top: 284px;
}
.product-header--padding {
    padding-top: 291px;
}
}
            /* SmartPhone */
@media only screen and (max-width: 390px) {
.Phone {
    background-image: url(pictures/Background/BackgroundS.png);
}
.Phone-1 {
    background-image: url(pictures/Background/Background2S.png);
}
.nav-header {
    font-family: Inter;
    font-size: 14px;
    text-align: center;
    align-items: center;
    font-weight: 400;
  padding: 0px 31px;
}
.products:nth-child(1){
    background-image: url(pictures/Background/products/product1S.png);
}
.products:nth-child(3){
    background-image: url(pictures/Background/products/product3S.png);
     width: 100%;
}
.products:nth-child(4){
    background-image: url(pictures/Background/products/product4S.png);
     width: 100%;
}
.products:nth-child(5){
    background-image: url(pictures/Background/products/product5S.png);
     width: 100%;
}
.products:nth-child(6){
    background-image: url(pictures/Background/products/product6S.png);
     width: 100%;
}
.products:nth-child(7){
    background-image: url(pictures/Background/products/product7S.png);
     width: 100%;
}
.products:nth-child(8){
    background-image: url(pictures/Background/products/product8S.png);
    width: 100%;
}
}

