body {
    margin: 0;
    max-width: 1920px;
    
}
.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.nav-text {
    font-size: 12px;
    text-align: center;
    font-family: Inter;
    margin-right: 12px;
}
.nav-header {
    font-family: Inter;
    font-size: 14px;
    text-align: center;
    align-items: center;
    font-weight: 400;
    line-height: 20px;
    padding: 20px 0px;
}
.Header {
    padding: 80px 140px;
    display: flex;
    justify-content: space-between;
}
.Header-magic {
    display: flex;
    gap: 32px;
}
.Header-text {
    font-size: 44px;
    font-family: Inter;
    font-weight: 700;
    color: rgba(110, 110, 115, 1);
    line-height: 52px;
}
.Header-text--colorful{
    background: linear-gradient(90deg, #0090F7 0%, #BA62FC 50%, #F2416B 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.Header-help {
    font-size: 14px;
    font-family: Inter;
    font-weight: 700;
    color: rgba(29, 29, 31, 1);
    text-align: start;
    line-height: 20px;
}
.Header-help--blue {
    font-size: 14px;
    color: rgba(0, 102, 204, 1);
    text-align: start;
    line-height: 20px;
}
.Header-help--margin {
    margin-top: 16px;
}
/* Header help-n urd ni zurag orj irne Before ashiglaad  */
.parent {
    display: flex;
    gap: 28px;
    margin:0px 140px;
}

.child-text {
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    font-family: Inter;

}
.child-mac {
    background-image: url(pictures/Background/store/Mac.png);
     width: 120px;
    height: 78px;
     margin: 16px 8px;
}
.child-iphone {
    background-image: url(pictures/Background/store/iPhone.png);
     width: 120px;
    height: 78px;
     margin: 16px 8px;
}
.child-ipad {
    background-image: url(pictures/Background/store/iPad.png);
     width: 120px;
    height: 78px;
     margin: 16px 8px;
}
.child-watch {
    background-image: url(pictures/Background/store/Apple\ Watch.png);
     width: 120px;
    height: 78px;
     margin: 16px 8px;
}
.child-vision {
    background-image: url(pictures/Background/store/Apple\ Vision\ Pro.png);
     width: 120px;
    height: 78px;
     margin: 16px 8px;
}
.child-airpod {
    background-image: url(pictures/Background/store/Airpods.png);
     width: 120px;
    height: 78px;
     margin: 16px 8px;
}
.child-airtag {
    background-image: url(pictures/Background/store/AirTag.png);
     width: 120px;
    height: 78px;
     margin: 16px 8px;
}
.child-tv {
    background-image: url(pictures/Background/store/Apple\ TV\ 4K.png);
     width: 120px;
    height: 78px;
     margin: 16px 8px;
}
.child-homepod {
    background-image: url(pictures/Background/store/Homepod.png);
     width: 120px;
    height: 78px;
     margin: 16px 8px;
}
.child-accessories {
    background-image: url(pictures/Background/store/Accessories.png);
     width: 120px;
    height: 78px;
     margin: 16px 8px;
}
.child-gift {
    background-image: url(pictures/Background/store/Apple\ Gift\ Card.png);
     width: 120px;
    height: 78px;
    margin: 16px 8px;
}
.title {
    display: flex;
    gap: 4px;
    margin-top: 60px;
    padding-left: 140px;
}
.title-text {
    color: rgba(110, 110, 115, 1);
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    font-family: Inter;
}
.title-text--colorful {
     background: linear-gradient(90deg, #0090F7 0%, #BA62FC 50%, #F2416B 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.Latest {
    display: flex;
    gap: 16px;
    overflow-x: scroll;
    scroll-snap-type: mandatory;
    padding-left: 140px;

}
.Latest__item {
    width: 480px;
    height: 500px;
    border-radius: 18px;
    flex-shrink: 0;
    scroll-snap-align: start;
}
.Latest__item:nth-child(1){
    background-image: url(pictures/Background/store/Latestitem1.png);
}
.Latest__item:nth-child(2){
    
}
.Latest__item:nth-child(3){
    
}
.Latest__item:nth-child(4){
    
}
.Latest-Header {
    font-family: Inter;
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
    color: rgba(182, 68, 0, 1);
}
.Latest-title {
    font-family: Inter;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.2px;
}
.Latest-text {
    font-family: Inter;
    font-size: 18px;
    line-height: 20px;
    margin-top: 12px;
}